.accountTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
}

.accountBox {
  display: flex;
  background-color: cadetblue;
  height: 600px;
  width: 75%;
  margin-left: 180px;
}
