.BasketContainer {
  display: flex;
  height: 200px;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: lightgray;
}
.Basket {
  display: flex;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 20px;
}
.BasketButtons {
  display: flex;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 0.80rem;
}
.BasketButtons > button {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
.ButtonOne {
  background-color: #ffd500;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  padding: 2px;
}
.ButtonTwo {
  background-color: white;
  height: 40px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  padding: 2px;
}
.BasketP > p {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  width: 75%;
}
.BasketP {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}
.Basket2 > h2 {
  margin: 10px;
}
.BasketContainer2 {
  width: 80%;
  margin: 20px;
}
/* .Basket2 {} */
.MapContainer {
  display: flex;
  margin-top: 10px;
  border-bottom: solid 2px;
  width: 100%;
  justify-content: space-evenly;
}

.BasketSubtotal {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.BasketProceedButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.BasketProceedButton > button {
  background-color: #FFD814;
  border-radius: 5px;
  padding: 6px 28px;
  border-color: #FCD200;
  border: 1px;
}
.MapImageContainer {
  width: 20%;
  height: 180px;
  /* background-color: maroon; */
}
.MapImage {
  height: 180px;
  width: 180px;
  object-fit: contain;
}
.MapPrice {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 30%;
}

.MapTitle {
  height: 100%;
  width: 40%;
}

.MapDelete {
  height: 38px;
  border-radius: 5px;
  width: 80px;
  background-color: white;
  border-color: #0d6dfdb0;
}
.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media only screen and (max-width: 1000px) {
  .MapContainer {
    flex-direction: column;
    align-items: center;
  }
  .MapImageContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .MapPrice {
    width: 100%;
    margin-top: 10px;
  }
  .MapTitle {
    width: 100%;
    text-align: center;
    margin: 2%;
  }
  .MapDelete {
    width: 100%;
    margin: 0px;
  }
}