.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 63vh;
}
.theSignForm {
  width: 100%;
}
.amazonLogo {
  width: 100px;
  margin: auto;
  object-fit: contain;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
}
.loginFormContainer {
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: white;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 3px;
  min-height: 260px;
}
.title {
  display: flex;
  margin-left: 4%;
  font-weight: normal;
  font-size: 2rem;
}
.loginFormContainer > form > h5 {
  margin-left: 4%;
  font-weight: bold;
  font-size: 0.75rem;
}
.justDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0% 3% 0%;
}
.inputTop {
  width: 90%;
  border-radius: 4px;
}
.theContinueSubmit {
  width: 90%;
  height: 30px;
  border-radius: 4px;
  background-color: #cd9042;
}
.loginFormContainer > form > p {
  font-size: .8rem;
  margin-left: 4%;
}
.signUpButton {
  margin-top: 3%;
  display: flex;
  align-self: center;
  width: 320px;
  border-radius: 4px;
}
@media only screen and (max-width: 800px) {
  .loginFormContainer {
    width: 280px;
  }
  .signUpButton {
    width: 280px;
  }
}