.NavBar {
  background-color: #131921;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 6vh;
  padding: 0 !important;
  min-height: 8vh;
}
.NavBar_Logo {
  display: flex;
  width: 100px;
  height: auto;
  object-fit: contain;
  margin-left: 25px;
  margin-right: 20px;
  margin-top: 15px;
  cursor: pointer;
}
.NavBarSearch {
  display: flex;
  flex: 1;
  height: 100%;
}
.NavBarSearchTwo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}
.NavBarAccount {
  text-decoration: none !important;
  border: none;
  outline: none
}
.SearchInput {
  height: 30px;
  border: none;
  width: 95%;
  font-size: 16px;
  border-radius: 5px;
}
.SearchIcon {
  padding: 4px;
  border-radius: 5px;
  height: 30px !important;
  width: 30px !important;
  background-color: #cd9042;
  cursor: pointer;
}
.NavBarHeader {
  color: white;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 20vw;
}
.NavBarOption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  padding: 1px 5px 1px 5px;
}
.NavBarOption:hover {
  border: 1px solid white;
}
.NavBarOptionOne {
  font-size: .8rem;
}
.NavBarOptionTwo {
  font-size: .9rem;
  font-weight: 800;
}
.NavBarOptionBasket {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0 0 5px;
  height: 100%;
}
.NavBarOptionBasket:hover {
  border: 1px solid white;
  color: white;
}
.NavBarBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.NavBarLink {
  color: white;
  text-decoration: none;
  height: 100%;
  padding-right: 1%;
}
@media only screen and (max-width: 1100px) {
  .NavBarOptionOne { 
    font-size: 0.7rem;
  }
  .NavBarOptionTwo{ 
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 800px) {
  .NavBar {
    height: 7vh;
  }
  .NavBar_Logo {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  .NavBarOptionOne {
    font-size: .50rem;
  }
  .NavBarOptionTwo {
    font-size: .50rem;
  }
  .NavBarHeader {
    width: min-content;
  }
}
