.productsHome {
  display: grid;
  grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  /* height: 400px; */
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}
.one {
  grid-column: 2 / span 1;
}
.two {
  grid-column: 3 / span 1;
}
.three {
  grid-column: 4 / span 1;
}
.four {
  grid-column: 5 / span 1;
}
.productsCard {
  display: grid;
  grid-template-rows: 2fr 4fr 1fr;
  grid-template-columns: 1fr;
}

.productCard h2 {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  font-size:  1.2rem;
}

.takeLook {
  font-size: 1rem;
  padding-left: 4%;
  color: #007185;
}
.url {
  /* font-size: 1rem; */
  text-decoration: none;
}

.productsImg {
  grid-row: 2 / span 1;
  height: 300px;
  background-image: url(./Images/mensclothing.jpeg);
  background-size: cover;
  cursor: pointer;
}

.productsImgTwo {
  grid-row: 2 / span 1;
  height: 300px;
  background-image: url(./Images/Jewelry.jpeg);
  background-size: cover;
  cursor: pointer;
}

.productsImgThree {
  grid-row: 2 / span 1;
  height: 300px;
  background-image: url(./Images/Electronics.jpg);
  background-size: cover;
  cursor: pointer;
}

.productsImgFour {
  grid-row: 2 / span 1;
  height: 300px;
  background-image: url(./Images/WomenClothing.jpg);
  background-size: cover;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .productsHome {
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    /* height: 400px; */
    margin-top: 2% !important;
    margin-bottom: 2% !important;
  }
  .one {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .two {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .three {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .four {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  .productCard h2 {
    font-size: 0.55rem;
  }
  .takeLook {
    display: none;
  }
  .img {
    height: 150px;
  }
}