
.productsList {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-top: 5px;
  background-color: white;
}

.productsHeader {
  margin-left: 20px;
  margin-top: 40px;
  margin: 20px;
}