.singleContainer {
  width: 100;
  height: 500px;
  display: grid;
  margin: 20px;
  border-bottom: solid 2px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
}

.containerImage {
  width: 300px;
  height: 300px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.productImage {
  margin: auto;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.containerButtonOne {
  width: 150px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  grid-column: 1 / span 1;
}

.containerButtonTwo {
  width: 150px;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  grid-column: 1 / span 1;
}

.containerTitle {
  font-size: 1rem;
  margin-left: 20px;
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

.containerDescription {
  font-size: 1rem;
  text-align: justify;
  grid-column: 2 / span 1;
  word-break: break-all;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}
.containerDescription p {
  font-size: 1rem;
  display: flex;
  width: 70%;
}

.pricerating {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
.containerRating {
  margin-left: 35px;
  margin-top: 10px;
}

.containerPrice {
  margin-left: 35px;
  margin-top: 10px;
}

.containerButtons {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
  margin-left: 35px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.containsImgDes {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 660px) {
  .containerTitle {
    font-size: .65rem;
  }
  .containerDescription p {
    font-size: .85rem;
  }
}

@media only screen and (max-width: 550px) {
  .containerTitle {
    font-size: .75rem;
  }
  .containerDescription p {
    font-size: .65rem;
  }
  .containerButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .containerButtons button {
    font-size: .50rem;
    width: 70%;
    height: auto;
  }
  .containerPrice {
    font-size: .50rem;
  }
}